/* Variables globales */
:root {
    --nav-padding-vertical: 13px;
    --nav-padding-horizontal: 20px;

    --nav-gap: 20px;

    --border-color: #000;

    --row-padding-vertical: 2.7px;
    --row-padding-horizontal: 20px;

    --header-margin-top: 60px;
    --header-padding-vertical: 10px;
    --header-padding-horizontal: 20px;
    
    --grid-columns: 1.5fr 6.5fr 4fr 4fr 1fr 4fr;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'GrosaMono', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
}

/* Navigation */
.nav {
    width: 100%;
    display: flex;
    gap: var(--nav-gap);
    padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
    border-bottom: 1px solid var(--border-color);
}

a {
    text-decoration: none;
    color: var(--border-color);
    transition: opacity 0.2s ease-in-out;
}

a:hover,
.nav a:hover {
    opacity: 0.6;
}

main {
    height: calc(100vh - 47px); /* 100vh - hauteur de la nav (13px + 13px padding + 20px gap + 1px border) */
    display: flex;
}

.section1,
.section2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; /* ou calc(100vh - hauteur_du_nav) */
    overflow-y: auto;
}

.section2 {
    border-left: 1px solid var(--border-color);
    padding: var(--nav-padding-horizontal);
}

.content {
    flex: 1; 
    overflow-y: auto;
}

.header {
    margin-top: var(--header-margin-top);
    border-bottom: 1px solid var(--border-color);
    padding: var(--header-padding-vertical) var(--header-padding-horizontal);
    flex-shrink: 0; /* ne rétrécit pas */
}

.header, .row {
    display: grid;
    grid-template-columns: var(--grid-columns);
}

.header > div,
.row > div {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.row {
    padding: var(--row-padding-vertical) var(--row-padding-horizontal);
}

.row > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-year {
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .section1,
    .section2 {
        width: 100%;
    }

    .section2 {
        border-left: 0px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        padding: var(--nav-padding-horizontal);
    }
}
