/* Variables globales */
:root {
    --nav-padding-vertical: 13px;
    --nav-padding-horizontal: 20px;

    --nav-gap: 20px;

    --border-color: #000;

    --row-padding-vertical: 2.7px;
    --row-padding-horizontal: 20px;

    --header-margin: 60px 0 0 0;
    --padding: 10px 20px;
    
    --grid-columns: 1.5fr 6.5fr 4fr 4fr 1fr 4fr;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'GrosaMono', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
}

a {
    text-decoration: none;
    color: var(--border-color);
    transition: opacity 0.2s ease-in-out;
}

a:hover {
    opacity: 0.6;
}

.nav{
    padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: var(--nav-gap);
}

main {
    display: flex;
    height: calc(100vh - 47px);
}

.section1,.section2{
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

.section2 {
    border-left: 1px solid var(--border-color);
    padding: var(--nav-padding-horizontal);
}

.header{
    padding: var(--padding) var(--padding);
    border-bottom: 1px solid var(--border-color);
    margin: var(--header-margin);
}

.header, .row{
    display: grid;
    grid-template-columns: var(--grid-columns);
    padding: var(--row-padding-vertical) var(--row-padding-horizontal);
}

.header > div,
.row > div {
    padding-left: var(--row-padding-horizontal);
}

.row > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;    
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .section1,
    .section2 {
        width: 100%;
        height: auto;
    }

    .section2 {
        border-left: 0px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        padding: var(--nav-padding-horizontal);
    }
}